hr {
  border: 1px solid #0066ff;
  margin-left: 80px;
  margin-right: 80px;
}

h2 {
  margin-top: 15%;
  margin-left: 80px;
  font-family: "Merriweather", serif;
  font-size: 24px;
}

#links {
  margin-left: 1px;
  font-family: "Merriweather", serif;
  font-size: 24px;
  margin-right: 38%;
}

input,
textarea {
  margin-right: 5px;
  margin-bottom: 10px;
  padding: 10px;
  background-color: #323333;
  color: white;
}

button {
  padding: 5px;
  width: 80px;
  background-color: #323333;
  color: white;
  border-radius: 10px;
}

i {
  margin-left: 80px;
  margin-bottom: 20px;
}

@media only screen and (max-width: 680px) {
  *,
  html,
  body,
  .row {
    margin-left: 0 !important;
    margin-right: 0 !important;
    padding-left: 0 !important;
    padding-right: 0 !important;
  }
}
